*{ 
    background-color: black;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 0 0 30px 0;
}

img {
    max-width: 640px;
    padding-left: 40px;
}

.title {
    display: inline-block;
    position: relative;
}

img.Jess {
    width: 200px;
    position: relative;
    display: inline-block;
    text-align: right;
    float: right;
}

li {
    padding-left: 75px;
    list-style: square;
}

h2 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: maroon;
    color: palegoldenrod;
    padding-left: 0px;
}

div {
    padding: 10px 0px;
}

#bold {
    text-align: left;
    text-emphasis-style: bold;
    Padding: 10px auto;
    color: palegoldenrod;
    margin: 10 auto;
}